.welcome{
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 80vh;
}

.welcome > div{
    width: 50%;
    height: 100%;
}

.welc-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding: 0 5%;
}

.welc-text h2{
    width: 100%;
    text-align: left;
    font-size: 42px;
}

.welc-text p{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    line-height: 22px;
    text-align: justify;
}

.welc-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 0 0;
}

.welc-img img{
    width: 100%;
    height: 70%;
    border-radius: 7px;
}